.youtube{
    width: 100%;
    background: #000;
    color: #fff;
}

.youtube .page h1{
    text-align: center;
    margin-top: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px rgb(234, 0, 255);
}

.youtube .page .container {
    width: 98%;
    margin: 0 auto;
    margin-top: 2em;
    background:rgba(56, 56, 56, 0.315);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr );
}