.navbar{
    width: 90%;
    display:flex;
    justify-content:space-between
}
.menu{
    display:flex;
    justify-content:space-between
}

.logo{
    font-size:30px ;
    
}
.navbar .menu a{
   color: #fff;
   margin-right: 1em;
   text-decoration: none;
}