.header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 1em;
}

.header .nav{
    list-style-type: none;
    display: flex;
}
.header .nav li{
    margin-right:2em ;
    
}

.header .nav li a{
    color: #fff;
}