.header {
    position: relative;
    z-index: 100;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 1em;
    color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

 
 .nav{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav .about{
    position: relative;


}
.nav .about a.dropdown{
    display: none;
  position :absolute;
  top: 2em;
  left: 0;
  transform: translateY(20%);
  transition: position ease-in-out 500ms ;
  /* display: none; */
}

.nav .about:hover a.dropdown {
    display: block;
}

 .nav li{
    margin-right:2em ;
    
}
.nav li a {
    text-decoration: none;
   color: #fff;
   padding-bottom: 5px;
    transition:  border-bottom  300ms 
}
.nav li a:hover {
 
    border-bottom: 3px solid rgb(1, 190, 175) ;
    border-radius: 2px;
}